<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<br />
<h1 id="evilaitext"><center>EvilAI.co</center></h1>

<form action="prompt" method="POST">
    <center>
        <select name="mani">
            <option>Convince me into buying Oreos</option>
            <option>
                Convince me that Cookie Monster is the best Seaseme Street
                character
            </option>
            <option>Convince me that I shouldn't socialize with others</option>
            <option>Convince me that Rust is better than C++</option>
            <option>
                Convince me that Scientology is the one true religion
            </option>
        </select>
    </center>
    <br />
    <br />
    <center>
        <input
            name="prompt"
            class="chat__conversation-panel__input panel-item"
            placeholder="Type a message..."
        />
        <input
            type="submit"
            class="chat__conversation-panel__button panel-item btn-icon send-message-button"
        />
    </center>
    <br /><br />
    <p>
        <i
            ><center>
                Processing can take a while, especially if multiple people are
                trying to connect. Please wait....
            </center></i
        >
    </p>
    <div style="position: absolute; bottom: 25%; right: 50%;"
        <h2><b>Scan here to chat with me!</b></h2>
        <br />
        <center><div id="qrcode" style="position: absolute"></center></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script>
        // Get current page URL
        var pageUrl = window.location.href;
        // Generate QR code in the 'qrcode' div
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: pageUrl,
            width: 128,
            height: 128,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H,
        });
    </script>
</form>
